{% extends "base.html" %}

{% block content %}
<style>
    .masonry-cont {
        max-width:1224px;
        width:90%;
        margin:auto;
        gap:15px;
        align-items: flex-start;
    }
    .column {
        width: calc(100% / 3);
        box-sizing: border-box;
        padding: 10px;
        justify-content: flex-start;
        gap:10px;
        /* float: left; */
    }
    .column .img-contain {
        width: 100%; 
        /* height: 100%;  Set the maximum height for the image */
        /* object-fit: cover; Ensures the image fits within the container without distortion */
        display: block; /* Prevent inline spacing issues */
        /* overflow: hidden; */
        transition: all 0.3s ease-out;
        transition-delay: 0.3s;
    }
    .ad_image{
        width:100%;
        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.46);
        border-radius: 15px;
    }
    .ad_image:hover{
        box-shadow:  none;
        border-radius: 0;
    }
    .column iframe {
        width: 100%; 
        /*height: 100%;  Set the maximum height for the image */
        /* object-fit: cover; Ensures the image fits within the container without distortion */
        display: block; /* Prevent inline spacing issues */
        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.46);
        border-radius: 15px;
    }
    .advertise-here{
        background-image: url("../static/icons/advert-icon-bg.png");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (max-width: 700px) {
    html,body{
        width:100% !important;
        min-width: 100px !important;
        overflow: auto;
        /* height: max-content; */
        background-color: rgb(214, 214, 214);
    }
    .imbc-icon-mobile{
        display: block !important;
    }
    .imbc-icon{
        display: none !important;
    }
}
</style>

<div class="view-container">
    <div class="advertise-here">
        <div style="position: relative;height:inherit;width:100%">
            <div class="advert-welcome">
                How can a business thrive without selling? 
                <span style="font-weight: 400;color:rgb(96, 120, 139)">Don’t wait another day — take your products and services across regions.  
                Start promoting your business today!</span>
            </div>
            <button onclick="window.location.href='/advert_form'" class="advert-btn" >+ Advertise</button>
            <img src="static/icons/add-icon.png" class="close-btn" />
        </div>
        
    </div>

    <!-- Desktop Screens  -->
    <div id="ads-desktop" class="masonry-cont gen-flex">
        {% for column in columns %}
            <div class="column gen-flex-col">
                {% for ad in column %}
                    {% if ad.advert_image %}
                        {% set comp_obj = companies[ad.comp_id] if ad.comp_id in companies else None %}
                        <div onmouseenter="revealDrawer(event,'{{ad.id}}')" class="img-contain" style="position:relative;">
                            <img src="static/ad-images/{{ ad.advert_image }}" alt="Ad Image" class="ad_image">
                            <div id="ad00{{ad.id}}" style="justify-content: flex-end;gap:2px" class="ad-comp-details gen-flex-col">
                                {%if comp_obj.website%}
                                    <a href="{{comp_obj.website}}"><img src="static/icons/ads-web-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                {%if comp_obj.company_contacts%}
                                    <a href="{{comp_obj.company_contacts}}"><img src="static/icons/ads-tel-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                {%if comp_obj.email%}
                                    <a href="{{comp_obj.email}}"><img src="static/icons/ads-email-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                <div class=" qm-icon-adverts">
                                    <a id="msg-icon" class="imbc-icon"  href="/compose?id={{ser.dumps({'data':comp_obj.id})}}" target="_blank">
                                        <img src="static/icons/imbc-icon.png" style="height: 50px;width:50px ;" />
                                    </a>
                                    
                                    <a style="display: none;z-index: 500;"  id="msg-icon-mobile" class="imbc-icon-mobile" href="/compose_mobile?id={{ser.dumps({'data':company.id})}}" >
                                        <img src="static/icons/imbc-icon.png" style="height: 50px;width:50px ;" />
                                    </a>
                                  
                                </div>
                            </div>
                            {%if ad.pinned_1%}
                                <button onclick="window.location.href='/news_pinned?nid={{ ad.pinned_1 }}'" class="pinned-btn" class="btns">📌More Info</button>
                            {%endif%}
                        </div>
                    {% endif %}
                    {% if ad.video %}
                        <iframe src="{{ ad.video }}" allowfullscreen></iframe>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Mobile Screens  -->
    <div class="welcome-ad-mobile" style="display: none;position:relative;height:inherit;width:90%;margin:10px auto">
        <div class="advert-welcome">
            Discover live ads and exclusive offers! <br>
            <span style="font-weight: 400;color:rgb(96, 120, 139)">
                Explore products and services, make quick enquiries, and get instant responses—right here on our platform.
            </span>
        </div>
    </div>
    <div style="display: none;" id="ads-mobile" class="masonry-cont gen-flex-col">
        {%for ad in adverts%}
            {% if ad.advert_image %}
                {% set comp_obj = companies[ad.comp_id] if ad.comp_id in companies else None %}
                <div onclick="revealDrawer(event,'{{ad.id}}')" class="img-contain" style="position:relative;">
                    <img src="static/ad-images/{{ ad.advert_image }}" alt="Ad Image" class="ad_image">
                    <div id="m-ad00{{ad.id}}" style="justify-content: flex-end;gap:2px" class="ad-comp-details gen-flex-col">
                        {%if comp_obj.website%}
                            <a href="{{comp_obj.website}}"><img src="static/icons/ads-web-icon.png" class="ads-icons"/> </a>
                        {%endif%}
                        {%if comp_obj.company_contacts%}
                            <a href="{{comp_obj.company_contacts}}"><img src="static/icons/ads-tel-icon.png" class="ads-icons"/> </a>
                        {%endif%}
                        {%if comp_obj.email%}
                            <a href="{{comp_obj.email}}"><img src="static/icons/ads-email-icon.png" class="ads-icons"/> </a>
                        {%endif%}
                        <div class=" qm-icon-adverts">
                            <a href="/compose_mobile?id={{ser.dumps({'data':company.id})}}">
                                <img src="static/icons/imbc-icon.png" style="height: 50px;width:50px ;" />
                            </a>
                        </div>
                    </div>
                    {%if ad.pinned_1%}
                        <button onclick="window.location.href='/news_pinned?nid={{ ad.pinned_1 }}'" class="pinned-btn" class="btns">📌More Info</button>
                    {%endif%}
                </div>
            {% endif %}
            {% if ad.video %}
                <iframe src="{{ ad.video }}" allowfullscreen></iframe>
            {% endif %}
        {%endfor%}
    </div>
</div>

<script>
    var elem = document.querySelector('.masonry');
    var msnry = new Masonry(elem, {
        itemSelector: '.masonry-item',
        columnWidth: '.masonry-item',
        percentPosition: true
    });

    function revealDrawer(e,id){
        var ida = "m-ad00" + id.toString();
        var sideDraw = document.getElementById(ida);
        console.log("Click Event Recieved",sideDraw , "A",id);
        if (!sideDraw) {
            console.error("Element with id " + ida + " not found.");
            return;
        }
        if(window.innerWidth <= "700"){
            console.log("Click Event Recieved2");
            sideDraw.classList.toggle('off-on');
        }else{
            var ida = "ad00" + id.toString();
            var sideDraw = document.getElementById(ida);
            sideDraw.classList.add('reveal-side-icons');
            e.target.addEventListener("mouseleave", function(){
                sideDraw.classList.remove('reveal-side-icons');
            });
        }
    }
</script>

{%endblock%}