{% extends "base.html" %}

{% block content %}
    <style>

    .masonry-cont {
        max-width:1224px;
        width:90%;
        margin:auto;
        gap:15px;
        align-items: flex-start;
    }
    .column {
        width: calc(100% / 3);
        box-sizing: border-box;
        padding: 10px;
        justify-content: flex-start;
        gap:10px;
        /* float: left; */
    }
    .column .img-contain {
        width: 100%; 
        /*height: 100%;  Set the maximum height for the image */
        /* object-fit: cover; Ensures the image fits within the container without distortion */
        display: block; /* Prevent inline spacing issues */
        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.46);
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.3s ease-out;
        transition-delay: 0.3s;
    }

    .ad_image{
        width:100%;
    }
    .column iframe {
        width: 100%; 
        /*height: 100%;  Set the maximum height for the image */
        /* object-fit: cover; Ensures the image fits within the container without distortion */
        display: block; /* Prevent inline spacing issues */
        box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.46);
        border-radius: 15px;
    }
    .advertise-here{
        background-image: url("../static/icons/advert-icon-bg.png");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    </style>

<div class="view-container">
    <div class="advertise-here">
        <div style="position: relative;height:inherit;width:100%">
            <div class="advert-welcome">
                How can a business thrive without selling? 
                <span style="font-weight: 400;color:rgb(96, 120, 139)">Don’t wait another day — take your products and services across regions.  
                Start promoting your business today!</span>
            </div>
            <button onclick="window.location.href='/advert_form'" class="advert-btn" >Advertise</button>
            <img src="static/icons/add-icon.png" class="close-btn" />
        </div>
        
    </div>

    <br>


    <!-- <div class="masonry-cont gen-flex">
        Static Image Ad
        <div class="column gen-flex-col">
            <img src="static/images/burgerad15179945781952220614.png" alt="Static Ad">
            <iframe src="https://www.youtube.com/embed/xwH4oVnuIAs?start=80" allowfullscreen></iframe>
            <img src="static/images/artificial-intelligence-used-generate-images-collage.jpg" alt="Square Ad">
        </div>
        Video Ad (YouTube)
        <div class="column gen-flex-col">
            <img src="static/ad-images/4ea9d0a0a20ba691048ff31323dbd1a5.jpg" alt="Square Ad">
            <img src="static/ad-images/tlp_hero_real-estate-ad-1c42ffc89274261ddbdb9b5b4b00dd12.jpg" alt="Square Ad">
            <img src="static/ad-images/shareacoke-724x1024.jpg" alt="Square Ad"> 
        </div>

        <div class="column gen-flex-col">
            <img src="static/ad-images/revolut-71-travelers-card-beach-female.webp" alt="Square Ad">
            <img src="static/ad-images/Express-Clothing-Display-Ad-Example-300-X-600-1.jpg" alt="Square Ad">
            <img src="static/ad-images/mars-truck-size-truck-promo.jpg" alt="Square Ad">
        </div>

    </div> -->

     <!-- # Adverts Code  -->
     <!-- <div style="width:90%;max-width: 1224px;margin:0 auto"> -->

    <div class="masonry-cont gen-flex">
        {% for column in columns %}
            <div class="column gen-flex-col">
                {% for ad in column %}
                    {% if ad.advert_image %}
                        {% set comp_obj = companies[ad.comp_id] if ad.comp_id in companies else None %}
                        <div onmouseenter="revealDrawer(event,'{{ad.id}}')" class="img-contain" style="position:relative;">
                            <img src="static/ad-images/{{ ad.advert_image }}" alt="Ad Image" class="ad_image">
                            <div id="ad00{{ad.id}}" style="justify-content: flex-end;gap:4px" class="ad-comp-details gen-flex-col">
                                {%if comp_obj.website%}
                                <a href="{{comp_obj.website}}"><img src="static/icons/ads-web-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                {%if comp_obj.company_contacts%}
                                <a href="{{comp_obj.company_contacts}}"><img src="static/icons/ads-tel-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                {%if comp_obj.email%}
                                <a href="{{comp_obj.email}}"><img src="static/icons/ads-email-icon.png" class="ads-icons"/> </a>
                                {%endif%}
                                <br>
                                <div class=" qm-icon-adverts">
                                    <a href="/compose?id={{ser.dumps({'data':comp_obj.id})}}" target="_blank">
                                        <img src="static/icons/imbc-icon.png" style="height: 50px;width:50px ;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if ad.video %}
                        <iframe src="{{ ad.video }}" allowfullscreen></iframe>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

    <script>
        var elem = document.querySelector('.masonry');
        var msnry = new Masonry(elem, {
            itemSelector: '.masonry-item',
            columnWidth: '.masonry-item',
            percentPosition: true
        });

        function revealDrawer(e,id){
            var ida = "ad00" + id.toString();
            var sideDraw = document.getElementById(ida);
            sideDraw.classList.add('reveal-side-icons');

            e.target.addEventListener("mouseleave", function(){
                sideDraw.classList.remove('reveal-side-icons');

            });
        }


    </script>

{%endblock%}