{% extends "base.html" %}

{% block content %}
<style>
    section {
  display: flex;
  flex-flow: row wrap;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}
#pay-opt-div input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
form{
  width:100%;
}
#pay-opt-div label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid coral;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}
#pay-opt-div input[type="radio"]:checked + label {
  background: coral;
  color: hsla(215, 0%, 100%, 1);
  //box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: coral;
    font-family: FontAwesome;
    border: none;
    content: "OK";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    //box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

#pay-opt-div input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}

#pay-opt-div p {
  font-weight: 700;
  font-size:14px;
}

#pay-opt-div small{
    color:;font-weight:bold;font-size:11px
}

.ea_radio_cont{
    width:150px; !important;
    height:auto !important;
}


@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
</style>
<div style="max-width:900px !important;margin:0 auto;" class="tags">
  <h3><br> <span class="spans"></span></h3>
    <div id="flash-mobile" class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {{ company_update.hidden_tag() }}
    <form _lpchecked="1" action="" id="updateForm" method="post"  enctype="multipart/form-data" onsubmit="return confirmSubmit();">
          <div style=""  class="img-cont">
            {% if current_user.image %}
                  <img class="prf-image" src="{{url_for('static', filename='uploads/' + company.image)}}"/>
            {% else %}
                  <img class="prf-image" src="static/images/default.jpg"/>
            {% endif %}
          </div>

            <h3 style="font-size:25px;">{{company.company_name.title()}} {%if company.other2%}({{company.other2}}){%endif%}<br> <span class="spans" style="font-size:16px">{{company.email}}</span></h3>
        
        <h3 style="font-size:32px;" class="">Corporate Details</h3>

        <hr>
        <!-- Abbreviation  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.abbreviation.label(class="labels")}}</div>
              {{ company_update.abbreviation(class="form-control",placeholder="Also Known As (AKA)",value=cmp_obj["abbreviation"])}}
              {% if company_update.abbreviation.errors %}
                {% for error in company_update.abbreviation.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>
        
        <!-- Email  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.company_email.label(class="labels")}}</div>
              {{ company_update.company_email(class="form-control",placeholder="Email",value=cmp_obj["email"])}}
              {% if company_update.company_email.errors %}
                {% for error in company_update.company_email.errors %}
                    <span class="span-error" >*Company Email{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <!-- Category  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.category.label(class="labels")}}</div>
              {{ company_update.category(class="form-control",placeholder="Category",id="category-select" ,value=cmp_obj["category"])}}
              {% if company_update.category.errors %}
                {% for error in company_update.category.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>
        
        <!-- Other Category  -->
        <div id="category-other-cont" class="group">
              <div class="acc-labels">{{ company_update.category_other.label(class="labels")}}</div>
              {{ company_update.category_other(class="form-control",placeholder="Please Specify", id="category-other-group")}}
              {% if company_update.category_other.errors %}
                {% for error in company_update.category_other.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <!-- Contacts  -->
        <div class="group">
            <div class="acc-labels">{{ company_update.company_contacts.label(class="labels")}}</div>
              {{ company_update.company_contacts(class="form-control",placeholder="Contacts",value=cmp_obj["company_contacts"])}}
              {% if company_update.company_contacts.errors %}
                {% for error in company_update.company_contacts.errors %}
                    <span class="span-error" >* {{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <!-- Address  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.company_address.label(class="labels")}}</div>
              {{ company_update.company_address(style="font-weight:500", class="form-control", id="company_address",placeholder="Physical Address",value=cmp_obj["company_address"])}}
              {% if company_update.company_address.errors %}
                {% for error in company_update.company_address.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <!-- tagline  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.tagline.label(class="labels")}}</div>
              {{ company_update.tagline(style="font-weight:500", class="form-control", id="tagline",placeholder="Tagline",value=cmp_obj["tagline"])}}
              {% if company_update.tagline.errors %}
                {% for error in company_update.tagline.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

          <!-- Website  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.website_link.label(class="labels")}}</div>
              {{ company_update.website_link(class="form-control",placeholder="Website Link",value=cmp_obj["website_link"])}}
              {% if company_update.website_link.errors %}
                {% for error in company_update.facebook_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <!-- Facebook  -->
        <div class="group">
              <div class="acc-labels">{{ company_update.facebook_link.label(class="labels")}}</div>
              {{ company_update.facebook_link(class="form-control",placeholder="Facebook Link",value=cmp_obj["facebook_link"])}}
              {% if company_update.facebook_link.errors %}
                {% for error in company_update.facebook_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
          </div>

        <div class="group">
              <div class="acc-labels">{{ company_update.twitter_link.label(class="labels")}}</div>
              {{ company_update.twitter_link(class="form-control",placeholder="Twitter Link",value=cmp_obj["twitter_link"])}}
              {% if company_update.twitter_link.errors %}
                {% for error in company_update.twitter_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <div class="group">
              <div class="acc-labels">{{ company_update.youtube_link.label(class="labels")}}</div>
              {{ company_update.youtube_link(class="form-control",placeholder="YouTube Link",value=cmp_obj["youtube_link"])}}
              {% if company_update.youtube_link.errors %}
                {% for error in company_update.youtube_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
              {% endif %}
        </div>

        <br><br>

        <div style="padding-left:50px;width:80%;min-width:350px" class="form-group">
              <h3> Update Company Logo</h3>
              {{ company_update.company_logo(id="imageInput", class="acc-form-control",placeholder="reference_2")}}
        </div><br>

        <div style="width:40% !important;padding-left:45px;" class="d-flex flex-row align-items-center justify-content-between">
              {{ company_update.submit(class="btns") }}
        </div>
        <br><br>

    </form>
    <div style="height:500px"></div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/places.js@1.19.0/dist/cdn/places.min.css">
<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script src="https://unpkg.com/cropperjs"></script>
<script nonce="{{ nonce }}">
// Add event listener to the image input field
document.addEventListener('DOMContentLoaded', function() {
    // Cropper.js logic
    var imageInput = document.getElementById('imageInput');
    if (imageInput) {
        imageInput.addEventListener('change', function() {
            var image = this.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                // Initialize Cropper.js after the image is loaded
                img.onload = function() {
                    var cropper = new Cropper(img, {
                        aspectRatio: 1, // Example aspect ratio 1:1
                        viewMode: 2, // Set cropper to fit the container
                    });
                };
            };
            reader.readAsDataURL(image);
        });
    }

    // Category toggle logic
    var categorySelect = document.getElementById('category-select');
    var otherGroup = document.getElementById('category-other-group');
    var otherGroupCont = document.getElementById('category-other-cont');
    function toggleOtherField() {
        if (categorySelect && otherGroup && otherGroupCont) {
            if (categorySelect.value === "Other") {
                otherGroup.style.display = "block";
                otherGroupCont.style.display = "block";
            } else {
                otherGroup.style.display = "none";
                otherGroupCont.style.display = "none";
            }
        }
    }
    if (categorySelect) {
        categorySelect.addEventListener('change', toggleOtherField);
        // Run on page load in case of validation errors
        toggleOtherField();
    }

    // Algolia Places.js autocomplete for address
    // var input = document.getElementById('company_address');
    //   if (input && window.places) {
    //       places({ container: input });
    //   }

    
    // Block accidental submit via autocomplete click
    document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('updateForm');

    function confirmSubmit() {
        // Optional: Add any extra validation here
        return true; // Allow submission when submit button is clicked
    }

    form.addEventListener('submit', function (e) {
        // Check if submit was triggered by an actual button click
        const isSubmitButton = e.submitter && e.submitter.type === 'submit';
        if (!isSubmitButton) {
            e.preventDefault();
        }
    });
});
});
</script>
{% endblock %}