{% extends "base.html" %}

{% block content %}
<style>
#select-mult-class{
  list-style-type: none;
}
input[type="checkbox"]{
  background: none;
  border: 1px solid coral;
}
section {
  display: flex;
  flex-flow: row wrap;
}
section > div {
  flex: 1;
  padding: 0.5rem;
}
#pay-opt-div input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
#pay-opt-div label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid coral;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

#pay-opt-div input[type="radio"]:checked + label {
  background: coral;
  color: hsla(215, 0%, 100%, 1);
  &::after {
    color: coral;
    font-family: FontAwesome;
    border: none;
    content: "OK";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
  }
}

#pay-opt-div input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}

#pay-opt-div p {
  font-weight: 700;
  font-size:14px;
}

#pay-opt-div small{
    color:;font-weight:bold;font-size:11px
}

.ea_radio_cont{
    width:150px !important;
    height:auto !important;
}


@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

</style>
<div style="" class="form-account-container gen-flex-col">
        <h3><br> <span class="spans"></span></h3>
            <!-- <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for  category, message in messages %}
                            <div class="flash-messages alert-{{category}}"> {{ message }} </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div> -->

        <p class="paras-subtopics"></p>


        <div style="width:80%;margin-left:1px" class="card-body py-md-4">

        <form _lpchecked="1" action="" method="post"  enctype="multipart/form-data" >
            <!-- <div id="cmpny-acc-prl-cont" style="width:100%;background-color:" class="my-card"> -->
            <div style=""  class="img-cont">
                <img class="prf-image" src="" id="image" />
                </div>
            <!-- </div> -->

            <h3 style="font-size:25px" class="">Q-Messanger Email Marketing Form</h3>
            <p>Kindly upload your marketing campaign content file. We will get in touch with you soon.</p>
            <hr>

            <div class="group">
                {{form.hidden_tag()}}
                <div class="acc-labels">{{ form.title.label(class="labels")}}</div>
                    {{ form.title(class="form-control",placeholder="Story Title",id="ImageInput")}}
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <span class="span-error" >* {{error}}</span>
                        {% endfor %}
                    {% endif %}
                <!--<input type="text" class="form-control" id="name" name="nm" placeholder="Name">-->
                </div>

                <div class="group">
                    <div class="acc-labels">{{ form.content_file.label(class="labels")}}</div>
                    {{ form.content_file(class="form-control",  placeholder="content_file")}}
                    {% if form.content_file.errors %}
                        {% for error in form.content_file.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                    <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
                </div>
                <div class="group">
                    <div class="acc-labels">{{ form.description.label(class="labels")}}</div>
                    {{ form.description(class="form-control", placeholder="description")}}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                    <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
                </div>
                <div class="group">
                    <div class="acc-labels">{{ form.end_date.label(class="labels")}}</div>
                    {{ form.end_date(class="form-control", placeholder="end_date")}}
                    {% if form.end_date.errors %}
                        {% for error in form.end_date.errors %}
                            <span class="span-error" >*{{error}}</span>
                        {% endfor %}
                    {% endif %}
                    <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
                </div>
                
               

            <div style="width:40% !important;" class="d-flex flex-row align-items-center justify-content-between">
                 {{ form.submit(class="btns") }}
                 <!--<input class="btns" type="submit" value="Create Account" />-->
            </div>

            <br><br>

         </form>
        </div>

</div>



<script src="https://unpkg.com/cropperjs"></script>
<script nonce="{{ nonce }}">
    // Add event listener to the image input field
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('imageInput').addEventListener('change', function() {
            var image = this.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;

                // Initialize Cropper.js after the image is loaded
                img.onload = function() {
                    var cropper = new Cropper(img, {
                        aspectRatio: 1, // Example aspect ratio 1:1
                        viewMode: 2, // Set cropper to fit the container
                    });
                };
            };
            reader.readAsDataURL(image);
        });

        var hashtagModal = document.getElementById('hashtagModal');
        var openBtn = document.getElementById('openHashtagModal');
        if (hashtagModal && openBtn) {
          hashtagModal.addEventListener('hidden.bs.modal', function () {
            openBtn.focus();
          });
        }

        });
</script>
{% endblock %}