
{% extends "base.html" %}

{% block content %}
<style>
  .comp-details{
    justify-content: flex-start;
  }
  .letterhead-header{
    padding: 0;
  }

</style>
<div style="width:100%;height:100vh ;position: relative;visibility: hidden;" class="all-chats-cont">
{%for msg in  chat_messages%}
{%if msg.sender == current%}
<!-- Current User -->
<div style="width:100% !important;height: max-content;justify-content: flex-start;" class="gen-flex">
    <div class="letterhead-container user-msg">
        <div style="justify-content: flex-start;" id="l_head_{{msg.id}}" class="letterhead-header gen-flex left-header">
            <img src="{{ url_for('static', filename='uploads/'~company.image) }}" alt="Logo" class="letterhead-logo">
            <div class="details-cont">
                <h1 class="company_name">{{company.company_name}}</h1>
                <div class="comp-details">
                    <div class="sender-company-details">
                        <div id="comp-details-header" class="comp-details  gen-flex">
                            {%if company.postal_address%}
                                <div style="justify-content: flex-start;" class="editable-field gen-flex">
                                    <div contenteditable="false" class="chat-fields postal_address_field" data-name="postal_address" placeholder="Postal Address">{{company.postal_address}}</div>
                                </div>
                            {%endif%}
                            •
                            {%if company.company_contacts%}
                                <div class="editable-field gen-flex">
                                    <div contenteditable="false" class="chat-fields company_contacts_field" data-name="company_contacts" placeholder="e.g. 251 XXXX XX">{{company.company_contacts}}</div>
                                </div>
                            {%endif%}
                            <div id="header-save" class="saving gen-flex">
                                <span style="color:rgb(66, 48, 48)">Saving....</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="letterhead-body"><br>
            <!-- Formerly <form> replaced by container div -->
            <div id="message-compose">
                <div class="message-cont">
                    {%if msg.subject%}
                        <label for="message" class="subject-field">{{msg.subject}}</label>
                    {%else%}
                        <label for="message" class="subject-field">Message</label>
                    {%endif%}
                    <div contenteditable="false" class="form-control message message-body" data-message="{{msg.message}}" id="message" style="min-height: max-content;">{{msg.message}}</div>
                    <div class="msg-timestamp">{{msg.date.strftime("%d %b, %H:%M")}}</div>
                </div>
            </div>
        </div><br>
        {%set user_details = chat_user.query.filter_by(username=current).first().user_details[0]%}
        <div style="justify-content: flex-start;" class="sender-profile gen-flex">
            <div class="footer-sender-profile-cont gen-flex">
                <img src="{{ url_for('static', filename='uploads/'~user_details.image) }}" alt="profile" class="footer-sender-profile">
            </div>
            <div class="sender-profile-details">
                <div style="align-items: flex-start;gap:0" class="comp-details gen-flex">
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields sender-name" data-name="name" placeholder="Your Name" style="font-weight: 600 !important;">{{user_details.name}}</div>
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields position-field" data-name="position" placeholder="e.g. Sales Manager">{% if user_details.position %}{{user_details.position}}{% endif %}</div>
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields email-field" data-name="email" placeholder="e.g. Your email">{% if user_details.email %}{{ user_details.email }}{% endif %}</div>
        
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields contacts-field" data-name="contacts" placeholder="e.g. 7546 135489">{% if user_details.contacts %}{{ user_details.contacts }}{% endif %}</div>
                    </div>
                    
                </div>
                <div id="user-save" class="saving gen-flex">
                    <span style="color:rgb(66, 48, 48)">Saving....</span>
                </div>
            </div>
        </div>
        <div id="l_head_foot_{{msg.id}}" class="letterhead-footer gen-flex-col left-footer">
            <div>
                <div class="sender-company-details">
                    <div class="comp-details">
                        
                        {% if company.tagline %}
                        <div class="editable-field gen-flex">
                            <img src="static/icons/handshake-icon.png" class="location-icon" id="handshake-icon" />
                            <div contenteditable="false" class="chat-fields tagline" data-name="tagline"
                                placeholder="Eco-friendly cleaning products that are safe for the environment, effective for consumers."
                                style="overflow:hidden; resize:none;color:rgb(59, 35, 77);font-weight: 600;"
                                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';">
                                {{ company.tagline }}
                            </div>
                        </div>
                        {% endif %}
                        {% if company.company_address %}
                        <div class="editable-field gen-flex-col">
                            <img src="static/icons/location-icon.png" class="location-icon" />
                            <div contenteditable="false" class="chat-fields company-address-field" data-name="company_address"
                                placeholder="e.g XYZ Innovations LLC1234 Innovate Way Suite 567 San Francisco, CA 94107 United States"
                                style="overflow:hidden; resize:none;color:rgb(43, 43, 43);"
                                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';">
                                {{ company.company_address }}
                            </div>
                        </div>
                        {% endif %}
                    </div><br>
                    <div class="social-media gen-flex">
                        {%if company.website %}
                        <a href="{{company.website}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/website-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if company.fb_link %}
                        <a href="{{company.fb_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/facebook-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if company.instagram_link%}
                        <a href="{{comapny.instagram_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/insta-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if company.linkedIn_link%}
                        <a href="{{company.linkedIn_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/linkedin-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                    </div>
                    <div style="margin:0 auto;width:max-content !important" class="rights"> &copy; 2025 {{ company.company_name }}. All rights reserved.</div>
                </div>
            </div>
        </div><br>
        <div id="left-min-max" onclick="minMax(event)" class="min-max-btn">minimize</div> 
        <!-- <button type="button" onclick="sendMessage()" class="btns btn-primary">Send</button> -->
        <!-- <button type="button" onclick="checkScriptBlock()">Check</button>-->
    </div>
</div>
<br><br>
{%else%}
<!-- The other user's details  -->
<div style="width:100% !important;height: max-content;justify-content: flex-end;padding:10px;position: relative;" class="gen-flex">
    <div class="letterhead-container right">
        <div style="justify-content: flex-start;" class="letterhead-header gen-flex ">
            <img src="{{ url_for('static', filename='uploads/'~other_usr_company_info.logo) }}" alt="Logo" class="letterhead-logo">
            <div class="details-cont">
                <h1 class="company_name">{{other_usr_company_info.company_name}} {%if other_usr_company_info.other2%}({{other_usr_company_info.other2}}){%endif%}</h1>
                <div class="comp-details">
                    <div class="sender-company-details">
                        <div id="comp-details-header" class="comp-details gen-flex">
                            {%if other_usr_company_info.postal_address%}
                            <div style="justify-content: flex-start;" class="editable-field gen-flex">
                                <div contenteditable="false" class="chat-fields postal_address_field" data-name="postal_address" placeholder="Postal Address">{{other_usr_company_info.postal_address}}</div>
                            </div>
                            {%endif%}
                            •
                            {%if other_usr_company_info.company_contacts%}
                            <div class="editable-field gen-flex">
                                <div contenteditable="false" class="chat-fields company_contacts_field" data-name="company_contacts" placeholder="e.g. 251 XXXX XX">{{other_usr_company_info.company_contacts}}</div>
                            </div>
                            {%endif%}
                            <div id="header-save" class="saving gen-flex">
                                <span style="color:rgb(66, 48, 48)">Saving....</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="letterhead-body">
            <!-- Formerly <form> replaced by container div -->
            <div id="message-compose">
                <div class="message-cont">
                    {%if msg.subject%}
                    <label for="message" class="subject-field">{{msg.subject}}</label>
                    {%else%}
                    <label for="message" class="subject-field">Message</label>
                    {%endif%}
                    <div contenteditable="false" class="form-control message message-body" data-message="{{msg.message}}" id="message" style="min-height: max-content;">{{msg.message}}</div>
                    <div class="msg-timestamp">{{msg.date.strftime("%d %b, %H:%M")}}</div>
                </div>
            </div>
        </div><br>
        {%set other_user_details = chat_user.query.filter_by(username=other_usrname).first().user_details[0]%}
        <div style="justify-content: flex-start;" class="sender-profile gen-flex">
            <div class="footer-sender-profile-cont gen-flex">
                <img src="{{ url_for('static', filename='uploads/'~other_user_details.image) }}" alt="profile" class="footer-sender-profile">
            </div>
            <div class="sender-profile-details">
                <div style="align-items: flex-start;gap:0" class="comp-details gen-flex">
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields sender-name" data-name="name" placeholder="Your Name" style="font-weight: 600 !important;">{{other_user_details.name}}</div>
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields position-field" data-name="position" placeholder="e.g. Sales Manager">{% if other_user_details.position %}{{other_user_details.position}}{% endif %}</div>
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields email-field" data-name="email" placeholder="e.g. Your email">{% if other_user_details.email %}{{ other_user_details.email }}{% endif %}</div>
        
                    </div>
                    •
                    <div class="editable-field-user gen-flex">
                        <div contenteditable="false" class="chat-fields contacts-field" data-name="contacts" placeholder="e.g. 7546 135489">{% if other_user_details.contacts %}{{ other_user_details.contacts }}{% endif %}</div>
                    </div>
                    
                </div>
                <div id="user-save" class="saving gen-flex">
                    <span style="color:rgb(66, 48, 48)">Saving....</span>
                </div>
            </div>
        </div><br>
        <div class="letterhead-footer gen-flex-col right-footer">
            <div>
                <div class="sender-company-details">
                    <div class="comp-details">
                        {% if other_usr_company_info.tagline %}
                        <div class="editable-field gen-flex">
                            <img src="static/icons/handshake-icon.png" class="location-icon" id="handshake-icon" />
                            <div contenteditable="false" class="chat-fields tagline" data-name="tagline"
                                placeholder="Eco-friendly cleaning products that are safe for the environment, effective for consumers."
                                style="overflow:hidden; resize:none;color:rgb(59, 35, 77);font-weight: 600;"
                                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';">
                                {{ other_usr_company_info.tagline }}
                            </div>
                        </div>
                        {% endif %}
                        {% if other_usr_company_info.company_address %}
                        <div class="editable-field gen-flex-col">
                            <img src="static/icons/location-icon.png" class="location-icon" />
                            <div contenteditable="false" class="chat-fields company-address-field" data-name="company_address"
                                placeholder="e.g XYZ Innovations LLC1234 Innovate Way Suite 567 San Francisco, CA 94107 United States"
                                style="overflow:hidden; resize:none;color:rgb(43, 43, 43);"
                                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';">
                                {{ other_usr_company_info.company_address }}
                            </div>
                        </div>
                        {% endif %}
                    </div><br>
                    <div class="social-media gen-flex">
                        {%if other_usr_company_info.website %}
                        <a href="{{other_usr_company_info.website}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/website-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if other_usr_company_info.fb_link %}
                        <a href="{{other_usr_company_info.fb_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/facebook-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if other_usr_company_info.instagram_link%}
                        <a href="{{other_usr_company_info.instagram_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/insta-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                        {%if other_usr_company_info.linkedIn_link%}
                        <a href="{{other_usr_company_info.linkedIn_link}}" target="_blank">
                            <div class="social-media-cont">
                                <img src="static/icons/linkedin-outline-icon.png" />
                            </div>
                        </a>
                        {%endif%}
                    </div>
                    <div style="margin:0 auto;width:max-content !important" class="rights"> &copy; 2025 {{ company.company_name }}. All rights reserved.</div>
                </div>
            </div>
        </div>
        <div id="right-min-max" onclick="minMax(event)" class="min-max-btn2">minimize</div> 
        <!-- <button type="button" onclick="sendMessage()" class="btns btn-primary">Send</button> -->
        <!-- <button type="button" onclick="checkScriptBlock()">Check</button> -->
    </div>
</div>
<br><br>
{%endif%}
{%endfor%}
<div style="height: 250px;">
</div>

{% set reply_other_usrname =  chat_user.query.filter_by(username=other_usrname).first()%}
<form  id="reply-form" action="/message_blueprint" method="POST" onsubmit="return encryptMessageChat(event);">
    <div style="position: relative;" class="message-input-container gen-flex-col">
        <input style="align-self: flex-start;width: max-content;margin-bottom: 0;" id="subject-field" class="form-control" type="text" name="subject" placeholder="Subject" class="subject-input" >
        <textarea name="reply-message" id="reply-message" class="form-control"  placeholder="Type your message here..." class="message-textarea"></textarea>
        <input type="hidden" id="rec-duplicated-msg" name="rec_encrypted-msg" value="">
        <input type="hidden" name="recipient_username" value="{{ reply_other_usrname.username }}">
        <input type="hidden" id="recipient_pkey" name="recipient_pkey" value="{{ reply_other_usrname.pkey }}">
        <input type="hidden" class="form-control" name="recipient_email" id="recipient-email" value="{{ reply_other_usrname.email }}">
        <div onclick="" id="reply-icon">
          <button type="submit" id="chat_submit"  class="btns btn-primary gen-flex"><img src="static/icons/sendmessage-icon-bg.png"  /></button>
        </div>
    </div>
</form>
</div>


<!-- <div id="wrapper">
  <div id="mouse"></div>
  <div class="loader">
  </div>
  <div class="loading-bar">
    <div class="progress-bar"></div>
  </div>
  <div class="status">
    <div class="state"></div>
    <div class="percentage"></div>
  </div>
</div> -->


<script nonce="{{ nonce }}">

    var header = null;

    function minMax(e){
      if(e.target.id === "left-min-max"){

        let minimized = localStorage.getItem("maximized") === 'true';
        minimized = !minimized;
        localStorage.setItem("maximized", minimized);

        // Change all min-max-btn button texts at once based on the new minimized state
        document.querySelectorAll('.min-max-btn').forEach(function(b){
          b.innerHTML = minimized  ? "maximize" : "minimize";
        }); 

        // Query header and footer each time to ensure up-to-date NodeList
        var footer = document.querySelectorAll(".left-footer");
        header = document.querySelectorAll(".left-header");
        footer.forEach((each)=>{
            each.classList.toggle('hide-header-footer');
        });
        header.forEach((each)=>{
            each.classList.toggle('hide-header-footer');
        });
      }else{
        // For the right footer minimize/maximize button
        e.target.innerHTML = "minimize";

        let minimized = localStorage.getItem("maximized-right-footer") === 'true'; //compare stored value(string) with 'true'
        minimized = !minimized;
        localStorage.setItem("maximized-right-footer", minimized);

        // Change all min-max-btn button texts at once based on the new minimized state
        document.querySelectorAll('.min-max-btn2').forEach(function(b){
          b.innerHTML = minimized  ? "maximize" : "minimize";
        }); 

        console.log("Minimize/Maximize button clicked for ID: ", e.target.id);
        // Query header and footer each time to ensure up-to-date NodeList
        var footer = document.querySelectorAll(".right-footer");
        footer.forEach((each)=>{
            each.classList.toggle('hide-header-footer');
        });
        // header.forEach((each)=>{
        //     each.classList.toggle('hide-header-footer');
        // });
      }
    }
    


    // On page load, restore state
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.min-max-btn').forEach(function(btn){

        let minimized = localStorage.getItem("maximized") === 'true';
        
        // Set each button's text based on its own minimized state
        btn.innerHTML = minimized ? "maximize" : "minimize";
        if(minimized){
          var footer = document.querySelectorAll(".left-footer");
          header = document.querySelectorAll(".left-header");
          footer.forEach((each)=>{
              each.classList.add('hide-header-footer');
          });
          header.forEach((each)=>{
              each.classList.add('hide-header-footer');
          });
        }
      });
      document.querySelectorAll('.min-max-btn2').forEach(function(btn){

        let minimized = localStorage.getItem("maximized-right-footer") === 'true';
        
        // Set each button's text based on its own minimized state
        btn.innerHTML = minimized ? "maximize" : "minimize";
        if(minimized){
          var footer = document.querySelectorAll(".left-footer");
          // header = document.querySelectorAll(".left-header");
          footer.forEach((each)=>{
              each.classList.add('hide-header-footer');
          });
          // header.forEach((each)=>{
          //     each.classList.add('hide-header-footer');
          // });
        }
      });
    }); 

    // function minMax(e, id){
      
    //   if(e.target.id === "left-min-max"){
    //     e.target.innerHTML = "maximize";
    //     console.log("Minimize/Maximize button clicked for ID: ", id);
    //     // Query header and footer each time to ensure up-to-date NodeList
    //     var footer = document.querySelectorAll(".left-footer");
    //     header = document.querySelectorAll(".left-header");
    //     footer.forEach((each)=>{
    //         each.classList.toggle('hide-header-footer');
    //     });
    //     header.forEach((each)=>{
    //         each.classList.toggle('hide-header-footer');
    //     });

    //   }
      
    // }


document.addEventListener('DOMContentLoaded', function () {
    var allChatContainer = document.querySelector('.all-chats-cont');
    var chatContainer = document.querySelector('.displaying-section');
    var scrollHeight = chatContainer.scrollHeight; // Adjusted to scroll to the bottom with some padding
    if (chatContainer) {
        chatContainer.scrollTo({ top: scrollHeight, behavior: 'smooth' });
    }

     setTimeout(function() {
        allChatContainer.style.visibility = 'visible'; // Show the chat container after loading-bar
    }, 900); 
    
    
});

  document.addEventListener('DOMContentLoaded', function () {
      var replyMessage = document.getElementById('reply-message');
      if (replyMessage) {
          replyMessage.addEventListener('input', function () {
              this.style.height = 'auto'; // Reset height
              this.style.height = (this.scrollHeight) + 'px'; // Set to scrollHeight
          });
          // Optional: trigger once to set initial height
          replyMessage.dispatchEvent(new Event('input'));
      }
  });


   async function updateEmailField(event){
        value = event.target.value;
        console.log("Selected Value: ",value)
        var emailField = document.querySelector("#recipient-email");

        const response = await fetch("/get_email", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username: value})
        });
        var email = await response.json();
        console.log("Fetched Email: ",email.email )
        emailField.value = email.email || value;
            
            // emailField.value = value;
        }
        

    function checkScriptBlock(){
        console.log("Script loaded");
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('.editable-field input');
        const inputsTextArea = document.querySelectorAll('.editable-field textarea');
        const inputsUser = document.querySelectorAll('.editable-field-user input');

        inputs.forEach(input => {
            input.addEventListener('blur', function () {
                console.log("Blur Event Triggered...");
                const saving = document.querySelector("#header-save");
                saving.style.display="block"
                const fieldName = input.name;
                const fieldValue = input.value;

                fetch('/update_field', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // 'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token if required
                    },

                    body: JSON.stringify({
                        field: fieldName,
                        value: fieldValue
                    })

                    
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update field');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Field updated successfully:', data);
                })
                .catch(error => {
                    console.error('Error updating field:', error);
                });
                saving.classList.add("turn-off-saving");
                // Listen for the animation end event
                saving.addEventListener("animationend", () => {
                    // Hide the element after the animation ends
                    saving.style.display = "none";
                    saving.classList.remove("turn-off-saving"); // Optional: Remove the class if needed
                });
            });
        });

        inputsUser.forEach(input => {
            input.addEventListener('blur', function () {
                console.log("Blur Event Triggered...");
                const saving = document.querySelector("#user-save");
                saving.style.display="block"
                const fieldName = input.name;
                const fieldValue = input.value;

                fetch('/update_field_user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // 'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token if required
                    },
                    body: JSON.stringify({
                        field: fieldName,
                        value: fieldValue
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update field');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Field updated successfully:', data);
                })
                .catch(error => {
                    console.error('Error updating field:', error);
                });
                saving.classList.add("turn-off-saving");
                // Listen for the animation end event
                saving.addEventListener("animationend", () => {
                    // Hide the element after the animation ends
                    saving.style.display = "none";
                    saving.classList.remove("turn-off-saving"); // Optional: Remove the class if needed
                });
            });
        });//

        inputsTextArea.forEach(input => {
                input.addEventListener('blur', function () {
                console.log("Blur in Text Area Event Triggered...");
                const fieldName = input.name;
                const fieldValue = input.value; // For textarea, use .value to get the content

                fetch('/update_field', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    // 'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token if required
                    },
                    body: JSON.stringify({
                    field: fieldName,
                    value: fieldValue
                    })
                })
                .then(response => {
                    if (!response.ok) {
                    throw new Error('Failed to update field');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Field updated successfully:', data);
                })
                .catch(error => {
                    console.error('Error updating field:', error);
                });
                });
            });//

});

    

    function sendMessage() {
        const form = document.querySelector('form');
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to send message');
            }
            return response.json();
        })
        .then(data => {
            alert('Message sent successfully!');
        })
        .catch(error => {
            console.error('Error sending message:', error);
        });
    }
</script>
{%endblock%}
