

<style>
    :root {
    --theme-color: #EF4036;
    --ribbon-color: #ffcece;
    --background-color: #d3d2d2;
    --el-background-color: #e4e4e4;
    --my-blue:#3667ef;
    }
    html,body{
        width:100%;
        height: max-content;
        background-color: rgb(214, 214, 214);
    }
    .msg-reply-unit{
        height: 100vh;
        background: var(--theme-color);
    }
    .navigation-main{
        display: none;
    }
    .top-bar-right{
        display: none !important;
    }
    .side-nav-item-rpu{
        background: none !important;
    }
</style>

<div class="msg-reply-unit">

</div>