

{% extends "base.html" %}
{% block content %}
<div style="position: relative;" class="container form-container">
  <label>Welcome to Quick Messanger</label><br>
  <h2 style="color:#EF4036">Register</h2>
  <div class="register-company"><input type="checkbox" id="register-company" name="register-company" />
    <label for="register-company">Register a Company?</label></div><br>
    <div id="flash-mobile" class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for  category, message in messages %}
                    <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
  <form class="form" method="post" action="">
    {{form.hidden_tag()}}
    
    {{ form.username(class="form-control",id="username", placeholder="username")}}

    <div class="group">
        <div class="acc-labels">{{ form.name.label(class="labels")}}</div>
        {{ form.name(class="form-control",id="name", placeholder="name")}}
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>
                    
    <div class="group">
        <div class="acc-labels">{{ form.email.label(class="labels")}}</div>
        {{ form.email(class="form-control",id="email", placeholder="email")}}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    <div class="group password-wrapper">
        <div class="acc-labels">{{ form.password.label(class="labels")}}</div>
        {{ form.password(class="form-control",id="password", placeholder="password")}}
        <span id="toggle-password">
            👁️
        </span>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    <div class="group">
        <div class="acc-labels">{{ form.phone.label(class="labels")}}</div>
        {{ form.phone(class="form-control",id="phone", placeholder="Phone Number")}}
        {% if form.phone.errors %}
            {% for error in form.phone.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    <div class="group">
        <div class="acc-labels">{{ form.company_name.label(class="labels")}}</div>
        {{ form.company_name(class="form-control",id="company_name", placeholder="Company name")}}
        {% if form.company_name.errors %}
            {% for error in form.company_name.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    <div class="group">
        <div class="acc-labels">{{ form.country.label(class="labels")}}</div>
        {{ form.country(class="form-control",id="countries", placeholder="Company name")}}
        {% if form.country.errors %}
            {% for error in form.country.errors %}
                <span class="span-error" >*{{error}}</span>
            {% endfor %}
        {% endif %}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    <div class="group">
        {{ form.submit(class="btns")}}
        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
    </div>

    {{ form.pKey(class="form-control",id="pKey", placeholder="Company name")}}

    <br>
    <label style="color:#3667ef">Already have an account?</label><br>
    <button onclick="window.location.href='/manual_login'" style="background-color:#3667ef;" class="btns gen-flex">Recover Account</button><br>
    
</form>
<img style="position: absolute;right:15px;top:25px;height:90px" src="static/icons/imbc-icon.png" />
</div>



<!-- Restore Modal (hidden by default) -->
<div id="restore-modal" style="display:none; position:fixed; top:0;backdrop-filter: blur(5px); left:0; width:100vw; height:100vh; background:rgba(0,0,0,0.7); z-index:9999; align-items:center; justify-content:center;">
  <div style="background:#fff; padding:2em; border-radius:10px; max-width:400px; margin:auto;">
    <h2>Restore Your Account</h2>
    <input type="file" id="recovery-file-input" accept=".json" /><br><br>
    <input type="text" id="restore-key-input" placeholder="Enter your recovery key" style="width:100%;" /><br><br>
    <button id="restore-account-btn">Restore</button>
    <div id="restore-status" style="color:red; margin-top:1em;"></div>
    <br>
    <button onclick="closeRecModal()" class="btns">Close</button>
    <!-- <button onclick="document.getElementById('restore-modal').style.display='none'">Close</button> -->
  </div>
</div>



<script nonce="{{ nonce }}">


let db_ind;
window.addEventListener("DOMContentLoaded", async function(){
  var companyInput = document.querySelector("#company_name");
  var companyChoice = document.getElementById("register-company");

    if(window.innerWidth <= "700"){
        companyInput.required = false;
        companyInput.style.display = "none";

        companyChoice.addEventListener("change", function() {
            if (companyChoice.checked) {
                companyInput.required = true;
                companyInput.style.display = "block";
            } else {
                companyInput.required = false;
                companyInput.style.display = "none";
            }
        });

    };
    
});
window.addEventListener('load', async function(){

    // console.log("SaveIs Called: ");
    var userLabel =document.querySelector("#username-label");

    if (userLabel){
        initDB().then((db) =>{
            console.log("db", db.objectStoreNames.contains("keys"));
        });
        // window.location.href = "/";
    }else{
        // initialise DB 
        initDB().then((db) =>{
            console.log("db", db.objectStoreNames.contains("keys"));
           register();
        });
    }
    
});

function togglePassword() {
  const passwordInput = document.getElementById('password');
  const icon = document.getElementById('toggleIcon');
  const isPassword = passwordInput.type === 'password';
  
  passwordInput.type = isPassword ? 'text' : 'password';
  icon.classList.toggle('fa-eye');
  icon.classList.toggle('fa-eye-slash');
}


</script>
{% endblock %}