

{% extends "base.html" %}
{% block content %}
<div style="position: relative;" class="container form-container">
  <label>Welcome to Quick Messanger</label><br>
  <h2 style="color:#EF4036">Register</h2>
  <form class="form" method="post" action="">
    <input type="hidden"  class="form-control" id="username" name="username" autocomplete="off" placeholder="username" required />
    <input class="form-control" id="name" name="name" placeholder="name" required />
    <input class="form-control" id="email" name="email" placeholder="Your email" required />
    <input class="form-control" id="company_name" name="company_name" placeholder="Company name" required />
    <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
    <input type="hidden" class="form-control" id="pKey" name="pKey" placeholder="Public Key" required />
    <select id="countries" name="country" class="form-control" required>
        <option value="" disabled >Select your country</option>
        <option value="Eswatini" selected>Eswatini</option>
        <option value="South Africa">South Africa</option>
        <option value="Lesotho">Lesotho</option>
        <option value="Mozambique">Mozambique</option>
        <option value="Namibia">Namibia</option>
        <option value="Botswana">Botswana</option>
        <option value="Zimbabwe">Zimbabwe</option>
        <option value="Malawi">Malawi</option>
        <!-- Add more countries as needed -->
    </select>
    
    <button id="submit-btn" class="btns">Register</button><br><br>
    <label style="color:#3667ef">Already have an account?</label><br>
    <button onclick="viewRecoryModal()" style="background-color:#3667ef;" class="btns gen-flex">Recover Account</button><br>
    
</form>
<img style="position: absolute;right:15px;top:25px;height:90px" src="static/icons/imbc-icon.png" />
</div>



<!-- Restore Modal (hidden by default) -->
<div id="restore-modal" style="display:none; position:fixed; top:0;backdrop-filter: blur(5px); left:0; width:100vw; height:100vh; background:rgba(0,0,0,0.7); z-index:9999; align-items:center; justify-content:center;">
  <div style="background:#fff; padding:2em; border-radius:10px; max-width:400px; margin:auto;">
    <h2>Restore Your Account</h2>
    <input type="file" id="recovery-file-input" accept=".json" /><br><br>
    <input type="text" id="restore-key-input" placeholder="Enter your recovery key" style="width:100%;" /><br><br>
    <button id="restore-account-btn">Restore</button>
    <div id="restore-status" style="color:red; margin-top:1em;"></div>
    <br>
    <button onclick="closeRecModal()" class="btns">Close</button>
    <!-- <button onclick="document.getElementById('restore-modal').style.display='none'">Close</button> -->
  </div>
</div>



<script>


let db_ind;
window.addEventListener("DOMContentLoaded", async function(){
    if(window.innerWidth <= "700"){
      var companyInput = document.querySelector("#company_name");
      companyInput.required = false;
      companyInput.style.display = "none";
    };
});
window.addEventListener('load', async function(){

    
    // console.log("SaveIs Called: ");
    var userLabel =document.querySelector("#username-label");



    if (userLabel){
        initDB().then((db) =>{
            console.log("db", db.objectStoreNames.contains("keys"));
        });
        // window.location.href = "/";
    }else{
        // initialise DB 
        initDB().then((db) =>{
            console.log("db", db.objectStoreNames.contains("keys"));
           register();
        });
    }
    

    
});


</script>
{% endblock %}